@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding:0;
}

.homepage {
	background:url('/assets/littleknobs.png');/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;


	.navbar-inverse {
		background:url('/assets/triangles.png');
		border-radius: 0;
		box-shadow: 0px 1px 3px #2a2a2a;
	}

	.navbar-brand {
		color: #e74c3c;
		font-family: 'Amatic SC', cursive;
		font-size: 30px;
	}

}

.place-listings {

	p{
		font-size: 18px;
	}

	a {
		color: black;
	}

	a:hover {
		text-decoration: none;
		color: #e74c3c;
	}

	a:active {
		color: #6C7A89;
	}
}

.field_with_errors {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 8px;
}

#map-canvas {
	height: 300px;
}

.clear {
  clear:both;
}

.comment-box {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

	blockquote:before {
	  color: #ccc;
	  content: open-quote;
	  font-size: 4em;
	  line-height: 0.1em;
	  margin-right: 0.25em;
	  vertical-align: -0.4em;

	  p {
	  	display: inline;
		}

	}
}

.pics {
	width: 100%;
}

.links-general {
		
	color: black;

	:hover {
		text-decoration: none;
		color: #F89406;
	}

	:active {
		color: #6C7A89;
	}
		
}

.nomster-pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
  position: absolute;
  float: left;
  width: 100%;

  a, span {
    padding: 0.2em 0.3em; 
  }

  .disabled {
    color: #aaaaaa; 
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
  }

  a {
    text-decoration: none;
    color: black; 
  }
  
  a:hover, a:focus {
      text-decoration: underline; 
  }

}

.pagination-footer {
	padding: 0px;
}
