@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding:0;
}

.homepage {
	background:url('/assets/littleknobs.png');/* Modern Georgia-based serif stack */
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;


	.navbar-inverse {
		background:url('/assets/triangles.png');
		border-radius: 0;
		box-shadow: 0px 1px 3px #2a2a2a;
	}

	.navbar-brand {
		color: #e74c3c;
		font-family: 'Amatic SC', cursive;
		font-size: 30px;
	}

}

.place-names {
	a {
		color: black;
	}

	a:hover {
		text-decoration: none;
		color: #e74c3c;
	}

	a:active {
		color: #6C7A89;
	}
}

.field_with_errors {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 8px;
}

#map-canvas {
	height: 300px;
}

.clear {
  clear:both;
}